@import "tailwindcss";

@theme {
  --font-pixel: var(--font-pixel);
  --font-pixelify: var(--font-pixelify);
  --font-pixelOperator: var(--font-pixelOperator);
}

.container {
  @apply px-4;
}

body {
  min-height: 100svh;
  font-size: calc(18rem / 16);
  font-family: var(--font-pixelOperator);
}
