@keyframes wobble {
	0%,
	100% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(-10px);
	}
	75% {
		transform: translateY(10px);
	}
}

.wobbleAnimation {
	animation-name: wobble;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 1000ms;
	display: inline-block;
	transform: translateY(0px);
}
