.scrollArrow {
  transition: scale 100ms ease-in-out;
}
.bg-dark {
  background-color: #000;
}
.chessboard {
  display: grid;
  max-width: fit-content;
  grid-template-columns: repeat(
    var(--boardColumns, 4),
    calc(70vmin / var(--boardColumns, 4))
  );
  grid-template-rows: repeat(
    var(--boardColumns, 4),
    calc(70vmin / var(--boardColumns, 4))
  );
  place-content: center;
  transform: perspective(60rem) rotateX(45deg) rotateZ(25deg) translateZ(-100px);
  //   div {
  //     border:1px solid white;
  //   }
  .cell {
    overflow: hidden;
    .imgWrapper {
      perspective-origin: right;
      --rotate: -40deg;
      display: grid;
      place-items: center;
      position: relative;
      height: 100%;
      width: 100%;
    }
    img {
      height: auto;
      width: clamp(0.25rem, 100%, 5rem);
      display: block;
      transition: margin-left 600ms, margin-top 600ms, transform 600ms;
      &.reflection {
        position: absolute;
        top: 50%;
        left: 50%;
        // margin: auto;
        opacity: 0;
        translate: -25% 45%;
        // translate: 80% 120%;
        // TODO: FIND A BETTER WAY TO FLIP REFLECTION
        scale: 0.9 -0.9;
        transition: opacity 400ms 200ms;
        mask-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0.7) 20%,
          rgba(0, 0, 0, 0.01) 80%,
          rgba(0, 0, 0, 0.01)
        );
        transform: perspective(10rem) rotatey(calc(var(--rotate) * 1))
          rotateX(var(--rotate));
        margin-left: -10%;
        margin-top: -5%;
      }
    }
    &:hover img {
      margin-left: -10%;
      margin-top: -5%;
      transform: perspective(10rem) rotatey(calc(var(--rotate) * 1))
        rotateX(var(--rotate));
      &.reflection {
        opacity: 1;
      }
      // -webkit-box-reflect: below 3px
      //   linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    }
    &.light {
      background-color: #eee;
    }
    &.dark {
      background-color: #333;
    }
  }
}
